SECRET="some-bytes"

DB_USER="username"
DB_PASSWORD="password"
DB_HOST="host"
DB_DATABASE="database"
DB_PORT="port"

NUXT_APP_URL="http://localhost"
NUXT_LIST_VIEW_ENABLED="true"

AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION=""
AWS_ENDPOINT=""
AWS_S3_BUCKET_NAME=""
