volumes:
  file-sharer_bucket:

services:
  file-sharer:
    image: file-sharer:latest
    container_name: file-sharer
    restart: unless-stopped
    ports:
      - 3000:3000
    environment:
      - DB_USER
      - DB_PASSWORD
      - DB_DATABASE
      - DB_HOST
      - DB_PORT
      - NUXT_BASE_URL
      - NUXT_APP_LIST_VIEW_ENABLED
      - SECRET
    volumes:
      - file-sharer_bucket:/file-sharer/uploads
