@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --white-smoke: #f5f5f5;
  --text-dim: #adc5cf;

  --zinc-100: oklch(14.1% 0.005 285.823);
  --zinc-90: oklch(21% 0.006 285.885);
  --teal-50: oklch(51.1% 0.096 186.391);

  /* dummy vars */
  --x: -100px;
  --y: -100px;
}

html {
  font-family: 'Inter', 'system-ui', sans-serif;
  font-size: 0.875rem;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--zinc-100);
  color: var(--white-smoke);
}

a,
a:visited {
  text-decoration: none;
  color: var(--white-smoke);

  &:not(:focus-visible) {
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

*:focus {
  outline: 2px solid var(--teal-50);
  outline-offset: 4px;
  border-radius: 0.5rem;
}

button {
  all: unset;
}

.container {
  width: 90%;
  margin-inline: auto;
}

@media (min-width: 1024px) {
  .container {
    width: 990px;
  }
}

.hidden {
  display: none;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

/** Transitions **/
.toast-enter-active,
.toast-leave-active {
  transition: all 0.25s ease;
}

.toast-enter-from {
  opacity: 0;
  transform: translateX(-50px);
}

.toast-leave-to {
  opacity: 0;
}
