name: Verify build

on:
  workflow_call:
  pull_request:
    branches:
      - master

jobs:
  verify_build:
    name: Verify build
    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4

      - name: Install dependencies
        run: npm ci

      - name: Build for production
        run: npm run build
